
.container{

    margin: 0 auto;
    background: red;
    font-size:24px;
    padding:25px;
    
}
.parallax{
    background: url('/photo/family%20picnic.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}